/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

body {
    background-color: lightcyan;
}

#page-wrap {
    width: 500px;
    margin: 100px auto;
}

h1 {
    font: 26px Georgia, Serif;
    margin: 0 0 10px 0;
}

form {
    margin: 50px 0 0 0;
}

label {
    font: bold 20px Helvetica, sans-serif;
    display: block;
    float: left;
    text-align: right;
    padding: 5px 10px 0 0;
    width: 140px;
}

input[type=text] {
    float: left;
    width: 40px;
    font: bold 20px Helvetica, sans-serif;
    padding: 3px 0 0 0;
    text-align: center;
}

form div {
    overflow: hidden;
    margin: 0 0 5px 0;
}

.button {
    margin: 0 0 0 5px;
    text-indent: -9999px;
    cursor: pointer;
    width: 29px;
    height: 29px;
    float: left;
    text-align: center;
    background: url(../images/buttons.png) no-repeat;
}

.dec {
    background-position: 0 -29px;
}

.buttons {
    padding: 20px 0 0 140px;
}